<div style="width:360px;height:230px;" class="cmd #history# tooltips cmd cmd-widget" data-type="info" data-subtype="numeric" data-cmd_id="#id#">
	<div class="col-xs-4 well" style="color : black;font-size : 10px;padding : 5px;margin-bottom : 2px;">
		Distance (km)<br/> #distance#
	</div>
	<div class="col-xs-4 well" style="color : black;font-size : 10px;padding : 5px;margin-bottom : 2px;">
		Temps (min)<br/> #travelTime#
	</div>
	<div class="col-xs-4 well" style="color : black;font-size : 10px;padding : 5px;margin-bottom : 2px;">
		Trajet (km)<br/> #travelDistance#
	</div>
	<center>
		<iframe src="https://www.google.fr/maps?hl=f&saddr=#from#&daddr=#to#&dirflg=c&output=embed" width="340" height="180" frameborder="0" style="border:0"></iframe>
	</center>
</div>